@font-face {
    font-family: 'Montserrat bold';
    src: url('../font/Montserrat/Montserrat-Bold.ttf');
    font-weight: 700;
 
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');